
<div  xmlns:th="http://www.thymeleaf.org" >
<!--Main Section-->
    <section class="jumbotron text-center" >
        <div class="container">
            <h3 class="jumbotron-heading">Authors</h3>
        </div>
    </section>
<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <p th:if="${authors.isEmpty()}">The authors list is empty.</p>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Author name</th>
                        <th scope="col">Address</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="author:${authors}">
                        <td th:text="${author.name}"></td>
                        <td th:text="${author.address}"></td>
                        <td class="text-right">

                    </tr>
                    </tbody>
                </table>

                <a href="/home" class="btn btn-sm btn-info back-button">Back to products</a>
            </div>
        </div>
    </div>
</div>
</div>