<div  xmlns:th="http://www.thymeleaf.org"


>

    <section class="jumbotron text-center" >
        <div class="container">
            <h3 class="jumbotron-heading">Categories</h3>
        </div>
    </section>

<!--Main Section-->
<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <p th:if="${categories.isEmpty()}">The category list is empty.</p>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Category name</th>
                        <th scope="col">Description</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="category:${categories}">
                        <td th:text="${category.name}"></td>
                        <td th:text="${category.description}"></td>
                        <td class="text-right">
                    </tr>
                    </tbody>
                </table>
                <a href="/home" class="btn btn-sm btn-info back-button">Back to products</a>
            </div>
        </div>
    </div>
</div>

</div>