
<div xmlns:th="http://www.thymeleaf.org"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<!--Main part-->
<section class="jumbotron text-center" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <h1 class="jumbotron-heading">Welcome to my Book Shop!</h1>
        <h3 class="jumbotron-heading">Books</h3>
    </div>
</section>

    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
    <div class="table-responsive">
        <p th:if="${products.isEmpty()}">The products list is empty.</p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Book name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Category</th>
                <th scope="col">Author</th>
            </tr>
            </thead>
        <tbody>
        <tr th:each="product:${products}">
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getPrice()}"></td>
            <td th:text="${product.getQuantity()}"></td>
            <td th:text="${product.getCategory() != null}
                            ? ${product.getCategory().getName()} : 'No Category'"></td>

            <td th:text="${product.getAuthor() != null}
                            ? ${product.getAuthor().getName()} : 'No Author'"></td>

            <td class="text-right">
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <form th:action="@{'/home/delete/{id}' (id=${product.getId()})}" method="POST">
                    <button type="submit" class="btn btn-sm btn-danger delete-product">
                        Delete
                    </button>
                </form>
                    </th:block>
            </td>
            <td>
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="@{'/home/edit-form/{id}' (id=${product.getId()})}"
                   class="btn btn-sm btn-info edit-product">
                     Edit
                </a>
                </th:block>
            </td>
            <td>
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <form th:action="@{'/shopping-cart/add-product/{id}' (id=${product.getId()})}" method="POST">
                    <button class="btn btn-sm btn-success add-to-cart">
                        Add to cart
                    </button>
                </form>
                </th:block>
            </td>
        </tr>
        </tbody>
        </table>
    </div>
            </div>
            <div class="col mb-3">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <a href="/home/add-form" class="btn btn-block btn-dark add-product-btn">Add new book</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>